@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
    margin: 0;
    padding: 0;
    background: #fff;
    color: #fff;
    font-family: cursive;
    font-size: 16px;
}

.body{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(background.jpg);
    background-size: cover;
    -webkit-filter: blur(5px);
    z-index: 2;
}

.grad{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); 
    z-index: 1;
    opacity: 0.7;
}

.header{
    position: absolute;
    top: calc(20% );
    left: calc(20% - 78px);
    z-index: 2;
}

.header div{
    float: left;
    color: #fff;
    font-family:cursive;
    font-size: 48px;
    font-weight: 200;
}

.header div span{
    color: #ff4000 !important;
}
.error {
    font-size: 60px;
    font-weight: 500;
    color: #FF0000 !important;
}

.search{
    position: absolute;
    top: calc(30% );
    left: calc(20% - 80px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}

.char{
    position: absolute;
    z-index: 2;
    font-size: 22px;
    color: #ffffff  ;
    position: absolute;
    top: calc(0% -100px);
    right:calc(10% -100px);
    height:auto;
    width: auto;
    padding: 10px;
    z-index: 2;
    font-size: 18px;
    font-family: cursive;
    align-content: center;
    align-items: center;
}
.link01{
    position: absolute;
    z-index: 2;
    font-size: 22px;
    color: #ffffff  ;
}
.welcome{
    position: absolute;
    top: calc(10% - 75px);
    left: calc(5% - 50px);
    height:auto;
    width: auto;
    padding: 10px;
    z-index: 2;
    font-size: 36px;
    font-family: cursive;
    font-weight: bolder;
    font-style: oblique;
    color: #fdfbfd  ;

}
.login{
    position: absolute;
    right: 10px;
    width: 100px;
    height: 35px;
    z-index: 2;
    font-size: 18px;
    font-family: cursive;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #ff8000;
    padding: 6px;
    margin-top: 10px;
}
.tableProduct {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(100%);
    height:auto;
    width: auto;
    padding: 10px;
    z-index: 2;
    font-size: 18px;
    font-family: cursive;
    align-content: center;
    align-items: center;
}
.search input[type=text]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    padding: 4px;

}
.search input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}
.select01 {
    z-index: 2;
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    padding: 4px;
}
.search input[type=submit]{
    width: 250px;
    left: calc(5% - 50px);
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #ff8000;
    font-family: 'Exo', Arial;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}
.button{
    width: 50px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #ff8000;
    font-family: 'Exo', Arial;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.search input[type=submit]:hover{
    opacity: 0.8;
}

.search input[type=submit]:active{
    opacity: 0.6;
}

.search input[type=text]:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}


.search input[type=submit]:focus{
    outline: none;
}

::-webkit-input-placeholder{
    color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
    color: rgba(255,255,255,0.6);
}